#app {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.page-title {
  padding-top: 12px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

* {
  box-sizing: border-box;
}
