<template>
  <div :class="['field cube-text']">
    <div class="field-ruler left">
      <div v-for="(indexVal, index) in fieldData.length" :key="index"/>
    </div>
    <div
      class="field-col"
      v-for="(col, colIndex) in fieldData"
      :key="colIndex"
    >
      <template
        v-for="(cubeData, rowIndex) in col"
        :key="rowIndex"
      >

        <div
          v-show="cubeData?.color"
          class="field-row"
          :class="[cubeData?.color, {
          'highlight': cubeData?.highlight,
          'selected': cubeData?.selected,
        }]"
          @click="cubeClick(colIndex, rowIndex)"
          @dblclick="removeSelected"
        >
          {{ UICoords ? `${colIndex}/${rowIndex}` : cubeData?.id }}
        </div>
      </template>

      <div class="field-ruler bottom">
        <div/>
      </div>
    </div>

  </div>

  <div class="field-info">
    <div>Score: {{ score || 0 }}</div>
  </div>

  <div class="field-controls">
    <button @click="UICoords = !UICoords">{{ UICoords ? 'Switch to id' : 'Switch to coords' }}</button>
    <!--    <button @click="undoRemove">Undo last</button>-->
    <button @click="resetAllCubeStates">Reset selections</button>
    <button @click="removeSelected">Remove selected items</button>
    <button @click="generateField">Generate new field</button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

interface cubeData {
  id?: number;
  color?: string;
  highlight?: boolean;
  selected?: boolean;
}

export default defineComponent({
  name: 'Game',
  data() {
    return {
      undo: [],
      newCubeId: 0,
      score: 0,
      UICoords: false,
      selectedCubes: [],
      fieldData: [],
    } as {
      undo: cubeData[][][];
      newCubeId: number;
      score: number;
      UICoords: boolean;
      selectedCubes: { col: number, row: number, id: number }[];
      fieldData: cubeData[][];
    };
  },
  mounted() {
    this.generateField();
  },
  methods: {
    resetScore() {
      this.score = 0;
    },

    addScore() {
      this.score += this.selectedCubes.length * this.selectedCubes.length;
    },

    clearField() {
      this.resetAllCubeStates();
      this.resetScore();
      this.newCubeId = 0;
      this.fieldData = [];
    },

    generateField() {
      this.clearField();

      // col loop
      for (let colIndex = 0; colIndex < 15; colIndex++) {
        const currentCol = [];

        // row loop
        for (let rowIndex = 0; rowIndex < 15; rowIndex++) {
          const randomValue = parseInt((Math.random() * 100).toFixed(0), 10);
          let cubeColor = '';

          switch (true) {
            case (randomValue >= 0 && randomValue <= 20):
              cubeColor = 'red';
              break;
            case (randomValue >= 21 && randomValue <= 40):
              cubeColor = 'green';
              break;
            case (randomValue >= 41 && randomValue <= 60):
              cubeColor = 'blue';
              break;
            case (randomValue >= 61 && randomValue <= 80):
              cubeColor = 'orange';
              break;
            case (randomValue >= 81 && randomValue <= 100):
              cubeColor = 'violet';
              break;
            default:
              cubeColor = 'gray';
          }

          currentCol.push({
            id: this.newCubeId++,
            color: cubeColor,
            highlight: false,
            selected: false,
          });
        }
        this.fieldData.push(currentCol);
      }

      console.warn('field GENERATED', this.fieldData);
    },

    resetAllCubeStates() {
      console.clear();
      this.selectedCubes = [];

      this.fieldData.forEach((col, colIndex) => {
        col.forEach((row, rowIndex) => {
          if (row.highlight || row.selected) {
            this.fieldData[colIndex][rowIndex] = {
              ...this.fieldData[colIndex][rowIndex],
              highlight: false,
              selected: false,
            };
          }
        });
      });
    },

    selectCube({
      col,
      row,
    }: { col: number; row: number }) {
      if (this.fieldData[col][row]) {
        this.fieldData[col][row].selected = true;
      }
    },

    checkNearbyCubes({
      col,
      row,
      color,
    }: { col: number, row: number, color: string }): boolean | void {
      const currentCube = this.fieldData[col][row];

      if (!currentCube) {
        return false;
      }

      const rightCubeCoords = [this.fieldData[col] ? col : null, this.fieldData[col][row + 1] ? row + 1 : null];
      const leftCubeCoords = [this.fieldData[col] ? col : null, this.fieldData[col][row - 1] ? row - 1 : null];
      const topCubeCoords = [this.fieldData[col + 1] ? col + 1 : null, this.fieldData[col][row] ? row : null];
      const bottomCubeCoords = [this.fieldData[col - 1] ? col - 1 : null, this.fieldData[col][row] ? row : null];
      const checkedCubes = [topCubeCoords, rightCubeCoords, bottomCubeCoords, leftCubeCoords];

      if (currentCube && currentCube.id !== undefined) {
        this.selectedCubes.push({
          col,
          row,
          id: currentCube.id,
        });
      }

      checkedCubes.forEach(([checkedCol, checkedRow]) => {
        const cube = checkedCol !== null && checkedRow !== null ? this.fieldData[checkedCol][checkedRow] : null;

        if (cube) {
          console.log(`?? look at cube id ${cube.id}. It has color ${cube.color}. We searched color ${color}`);
        } else {
          console.log(`??-- some cube wont checked with coords ${checkedCol}/${checkedRow}`);
        }

        if (cube && cube.color === color && checkedCol !== null && checkedRow !== null) {
          this.selectCube({
            col: checkedCol,
            row: checkedRow,
          });
          if (this.selectedCubes.find((selectedCube) => selectedCube.col === checkedCol && selectedCube.row === checkedRow) === undefined) {
            console.log(`SEARCH around cube at ${checkedCol}/${checkedRow}`);

            this.checkNearbyCubes({
              col: checkedCol,
              row: checkedRow,
              color,
            });
          }
        }
      });

      return true;
    },

    cubeClick(col: number, row: number): boolean | void {
      this.resetAllCubeStates();

      const cube = this.fieldData?.[col]?.[row];
      console.log(`cube click on ${col}/${row}`);

      if (cube) {
        cube.highlight = true;
        cube.selected = true;

        if (cube.color) {
          this.checkNearbyCubes({
            col,
            row,
            color: cube.color,
          });
        }
      }

      // this.removeSelected();

      return true;
    },

    undoRemove() {
      if (this.undo[0]) {
        console.log('UNDO', this.undo[0]);

        // eslint-disable-next-line prefer-destructuring
        this.fieldData = this.undo[0];
      }
    },

    removeSelected() {
      const unchangedField = JSON.stringify(this.fieldData);
      this.undo.push(JSON.parse(unchangedField));
      const maxIndex = this.fieldData.length - 1;
      const minIndex = 0;

      const affectedCols: number[] = [];
      this.selectedCubes.forEach((cubeCoords) => {
        if (!affectedCols.includes(cubeCoords.col)) {
          affectedCols.push(cubeCoords.col);
        }
      });

      this.addScore();

      this.selectedCubes.forEach(({
        row,
        col,
        id,
      }) => {
        switch (true) {
          case row === minIndex:
            this.fieldData[col][row] = {};
            break;
          case row === maxIndex:
            this.fieldData[col].pop();
            this.fieldData[col].unshift({});
            break;
          case row > minIndex && row < maxIndex:
            this.fieldData[col].splice(this.fieldData[col].findIndex((column) => column.id === id), 1);
            this.fieldData[col].unshift({});
            break;
          default:
        }
      });
    },
  },
});
</script>

<style lang="scss" scoped src="./styles.scss"></style>
