.field {
  $ruler-color: #dadada;
  $ruler-size: 8px;

  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;

  .field-ruler {
    &.bottom {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      height: $ruler-size;
      justify-self: flex-start;

      > div {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
        margin-top: 1px;
        margin-right: 1px;
        text-align: center;
      }
    }

    &.left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      width: $ruler-size;
      padding-bottom: $ruler-size;

      > div {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 2px;
        width: 100%;
        height: 50px;
        text-align: center;

        &:nth-child(odd ) {
          background-color: $ruler-color;
        }

        &:nth-child(n+2) {
          margin-top: 1px;
        }
      }
    }
  }

  &.cube-text {
    .field-row {
      color: black;
      font-size: 12px;
    }
  }

  .field-col {
    display: flex;
    flex-flow: column nowrap;

    &:nth-child(n+2) {
      margin-left: 1px;
    }

    &:nth-child(even) {
      .field-ruler > div {
        background-color: $ruler-color;
      }
    }
  }

  .field-row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: gray;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    user-select: none;

    &:hover {
      box-shadow: inset 0 0 0 3px rgba(255,255,255,.2), inset 0 0 0 50px rgba(255,255,255,.3);
    }

    &.gray {
      background-color: gray;
    }

    &.red {
      background-color: #ff8e8e;
    }

    &.green {
      background-color: #6bc94c;
    }

    &.blue {
      background-color: #8ebfff;
    }

    &.orange {
      background-color: #ffca8e;
    }

    &.violet {
      background-color: #df8eff;
    }

    &.selected {
      box-shadow: inset 0 0 0 50px rgba(0,0,0,.3);
      color: white;
    }

    &.highlight {
      box-shadow: inset 0 0 0 3px rgba(0,0,0,.7), inset 0 0 0 50px rgba(0,0,0,.3);
    }

    &:nth-child(n+2) {
      margin-top: 1px;
    }
  }
}

.field-info {
  width: 100%;
  margin-top: 12px;
  text-align: center;
}

.field-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 12px;

  > button {
    &:nth-child(n+2) {
      margin-left: 12px;
    }
  }
}
